$color-background: 	#132434;
$color-text: #93B7CC;
$color-text-strong: #267DBD;
$color-primary: #3893B1;
$color-accent: #013876;


body, input, button {
  color: $color-text;
  background-color: $color-background;
 
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  color: $color-text;
  text-decoration: none;    
  display: block; 
  width: 100%; 
}

ul {
  list-style-type: none; 
}

input[type=text] {
  border: none;
  border-bottom: 2px solid $color-text-strong; 
}

input[type=text]:focus {
  outline: none;
}

button {
  border: none;
  color: $color-primary; 
}