//defining large screen breakpoint
$screen-large: 550px;

//defining colors
$color-background: 	#132434;
$color-text: #93B7CC;
$color-strong: #267DBD;
$color-primary: #3893B1;
$color-accent: #013876;

//defining global modifiers for mixins
.color-strong {
  color: $color-strong;
}

.color-primary {
  color: $color-primary;
}

.color-accent {
  color: $color-accent;
}

.size-s {
  font-size: 15px;
}

.size-m {
  font-size: 40px;
}

.size-l {
  font-size: 80px;
}

.center {
  text-align: center;
}

//defining default settings
html {
  font-size: 150%;
}

body, input, button {
  color: $color-text;
  background-color: $color-background;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none; 
}

//importing component specific styles
@import './App.scss';
@import './Navbar.scss';
@import './Cities.scss';
@import './AddCity.scss';
@import './Weather.scss';
@import './assets/css/weather-icons.min.css';