.navbar {
    height: 30px;   
    margin: 0.5rem 0 1rem 0;
}

.navbar__back {    
    background-image: url("/arrow-back.png");
    background-repeat: no-repeat;   
    background-size: contain;
    height: 80%;
    width: 10%;
}

@media (min-width: $screen-large) {
    .navbar {
        height: 55px;   
        margin: 1rem 0 5rem 0;
    }  
}