.weather {
    margin:auto;
    padding-bottom: 2rem;   
    min-width: 5rem;
}

.weather_fixed {
    width: 5rem;
}

.weather__data {   
    margin-left: 0.5rem;
}


@media (min-width: 550px) {
    .weathercontainer {
        display: flex;    
        flex-direction: row;
    }  

    .weathercontainer :nth-child(2) { order: -1; }
}